/* contact.css */
#contact .row {
  height: 100%;
}
#contact .col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  color: white;
  padding: 4%;
}
#contact .sub {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}
#contact h3 {
  font-size: 55px;
  font-weight: normal;
}
#contact .icon-and-link {
  display: flex;
  align-items: center;

}
#contact a {
  color: white;
  display: inline;
}
#contact .link {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2.5px;
}
#contact i {
  font-size: 40px;
  margin-right: 30px;
}
#contact i:hover {
  font-size: 45px;
  transition: 0.5s;
}
