/* footer.css */
.under-footer {
  position:absolute;
  height: 100px;
  width: 100%;
  background-color: var(--gray);
}
#footer {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efefef+34,e14154+38 */
  background: var(--red); /* Old browsers */
  background: linear-gradient(to bottom, transparent 27%, var(--red) 29%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 400px;
  color: white;
}

#footer-text {
  width: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  margin-top: 190px;
  font-size: 18px;
}
#footer-text .name {
  font-size: 22px;
}
#footer-date {
  margin-top: 365px;
  position: relative;
  background-color: var(--red);
  width: 270px;
  padding-left: 20px;
}
#footer-icons {
  position: relative;
  float: right;
  display: inline;
  margin-right: 10px;
  margin-top: -27px;
}
#footer i {
  color: var(--light-red);
  font-size: 1.5em;
  margin-right: 10px;
}
#footer i:hover {
  color: white;
  transition: 0.5s;
}
