/* main.css */
body::-webkit-scrollbar {
  width: 0em;

}
body {
  width: 100%;
  background-color: var(--red);
  overflow: hidden;
}
.title {
  text-align: center;
  transition: 0.4s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.col {
  margin: 1.5%;
}
.main {
  margin-top: 20px;
  width: 85%;
  height: 70%;
}
.sample-sidebar {
  width: 175px;
}
.holder {
  height: 100%;
  display: flex;
  align-items: center;
}
