/* panels.css */
.panel {
  width: 100vw;
  height: 100vh;
}
.panel-long {
  width: 100vw;
}
/* If is is 600px or less, the panel will be 600px tall*/
/* Aka the panel will be no smaller than 600px*/
@media (max-height: 600px) {
  .panel {
    height: 600px;
  }
}

#about-panel {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b3094+14,1f8982+91 */
  background: var(--green); /* Old browsers */
  background: linear-gradient(to bottom, var(--purple) 14%, var(--green) 91%);
}
#resume-panel {
  background-color: var(--yellow);
}
#contact-panel{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b3094+0,e14154+100 */
  background: var(--red); /* Old browsers */
  background: linear-gradient(to bottom, var(--purple) 3%, var(--red) 90%);
}
#projects-panel  {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efefef+0,e6e6e6+100 */
  background: var(--gray); /* Old browsers */
  background: linear-gradient(to bottom, var(--light-gray) 10%, var(--gray) 70%);
}
#designs-panel {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efefef+0,e6e6e6+100 */
  background-color: var(--gray); /* Old browsers */
  background: linear-gradient(to bottom, var(--light-gray) 10%, var(--gray) 70%);
}
