.red {
  background-color: #E14154;
}
.green {
  background-color: hsl(176,63%,33%);
}
.purple {
  background-color: #3B3094;
}
.yellow {
  background-color: #FFC000;
}
.light-red {
  background-color: #E598A0;
}
.light-green {
  background-color: #7DBDB9;
}
.light-purple {
  background-color: #978FD4;
}
.light-yellow {
  background-color: #FFE8A3;
}


.content {
  margin: 0px 15%;
}
strong {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Cutive Mono', monospace;
}
@media (max-width: 992px) {
  .content {
    margin: 0px 0px;
  }
}

.home {
  position: fixed;
  cursor: pointer;
  margin-left: 15px;
  background-color: hsla(0, 0%, 100%, 0.6);
  /* background-color: white; */
  padding: 5px 20px;
  border-radius: 10px;

}

.icon-img {
  width: 65px;
  margin-top: 25px;
}
.circle {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid white 15px;
  text-align: center;
}
.container {
  text-align: center;
}
h1 {
  margin-bottom: 40px;
}
.box {
  text-align: left;
  display: inline-block;
  border-radius: 20px;
  background-color: white;
  padding: 15px 30px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin-bottom:15px;
}
.box strong {
  font-size: 18px;
}
a {
  color: hsl(176,63%,33%);
}
a:hover {
  color: hsl(176,63%,33%);
}
.wireframes img {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}
#palgorithms .wireframes img {
  width: auto;
  height: 550px;
}
#pal-icon {
  height: 300px !important;
}
.images {
  text-align: center;
}
.images p {
  margin-top: 10px;
  margin-bottom: 50px;
}

.video {
  text-align: center;
}
iframe {
  display: inline-block;
  width: 90%;
  height: 600px;
}
