html {
    height: 100%;
    background-color: gray;
}
body {
    background-color: blue;
    top: 0;
}
#grad {
    height: 100%;
    margin: 0;
    /* background: radial-gradient(#E16D7B, #E14154); */
    /* background-repeat: no-repeat; */
}

.s {
  position: fixed;
  visibility: hidden;
  background-color: red;
}

.scrollbar {
  margin-left: 130px;
  /* margin-top: 67px; */
  position: fixed;
  height: 70px;
  width: 20px;
  background-color: green;
  transition: 0.2s;
}

.little {
  width: 100px;
  background-color: black;
}
.big {
  /* //width: fit-content(100%); */
  width: 100%;
  background-color: pink;
}

.block {
  height: 800px;
  width: 100%;
}

#b1 {
  background-color: yellow;
  display: flex;

}
#b2 {
  background-color: purple;

}
#b3 {
  background-color: orange;

}
#b4 {
  background-color: blue;

}
